<a href="https://colab.research.google.com/github/vinaykumar2491/Project_MachineLearning/blob/master/imflash217_fastai_6_rossman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [0]:
from fastai.basics import *

## Rossmann:
```
http://files.fast.ai/part2/lesson14/rossmann.tgz
```

### Data Preparation & Feature Engineering

In [3]:
!ls

sample_data

In [4]:
Config.data_path()

PosixPath('/root/.fastai/data')

In [5]:
!apt-get install tree

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  tree
0 upgraded, 1 newly installed, 0 to remove and 8 not upgraded.
Need to get 40.7 kB of archives.
After this operation, 105 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tree amd64 1.7.0-5 [40.7 kB]
Fetched 40.7 kB in 1s (41.1 kB/s)
Selecting previously unselected package tree.
(Reading database ... 131183 files and directories currently installed.)
Preparing to unpack .../tree_1.7.0-5_amd64.deb ...
Unpacking tree (1.7.0-5) ...
Setting up tree (1.7.0-5) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

In [7]:
!tree

.
└── sample_data
    ├── anscombe.json
    ├── california_housing_test.csv
    ├── california_housing_train.csv
    ├── mnist_test.csv
    ├── mnist_train_small.csv
    └── README.md

1 directory, 6 files

In [0]:
!mkdir rossmann

In [9]:
!tree

.
├── rossmann
└── sample_data
    ├── anscombe.json
    ├── california_housing_test.csv
    ├── california_housing_train.csv
    ├── mnist_test.csv
    ├── mnist_train_small.csv
    └── README.md

2 directories, 6 files

In [10]:
!wget http://files.fast.ai/part2/lesson14/rossmann.tgz ./rossmann/

--2019-10-15 10:56:50--  http://files.fast.ai/part2/lesson14/rossmann.tgz
Resolving files.fast.ai (files.fast.ai)... 67.205.15.147
Connecting to files.fast.ai (files.fast.ai)|67.205.15.147|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7730448 (7.4M) [application/x-gtar-compressed]
Saving to: ‘rossmann.tgz’

rossmann.tgz        100%[===================>]   7.37M  4.53MB/s    in 1.6s

2019-10-15 10:56:52 (4.53 MB/s) - ‘rossmann.tgz’ saved [7730448/7730448]

--2019-10-15 10:56:52--  http://./rossmann/
Resolving . (.)... failed: No address associated with hostname.
wget: unable to resolve host address ‘.’
FINISHED --2019-10-15 10:56:52--
Total wall clock time: 2.6s
Downloaded: 1 files, 7.4M in 1.6s (4.53 MB/s)

In [11]:
!tree

.
├── rossmann
├── rossmann.tgz
└── sample_data
    ├── anscombe.json
    ├── california_housing_test.csv
    ├── california_housing_train.csv
    ├── mnist_test.csv
    ├── mnist_train_small.csv
    └── README.md

2 directories, 7 files

In [0]:
!rm -r rossmann

In [13]:
!tree

.
├── rossmann.tgz
└── sample_data
    ├── anscombe.json
    ├── california_housing_test.csv
    ├── california_housing_train.csv
    ├── mnist_test.csv
    ├── mnist_train_small.csv
    └── README.md

1 directory, 7 files

In [15]:
!tar -xvzf rossmann.tgz

googletrend.csv
sample_submission.csv
state_names.csv
store.csv
store_states.csv
test.csv
train.csv
weather.csv

In [16]:
!tree

.
├── googletrend.csv
├── rossmann.tgz
├── sample_data
│   ├── anscombe.json
│   ├── california_housing_test.csv
│   ├── california_housing_train.csv
│   ├── mnist_test.csv
│   ├── mnist_train_small.csv
│   └── README.md
├── sample_submission.csv
├── state_names.csv
├── store.csv
├── store_states.csv
├── test.csv
├── train.csv
└── weather.csv

1 directory, 15 files

In [0]:
!mkdir rossmann

In [0]:
!mv *.csv rossmann/

In [19]:
!tree

.
├── rossmann
│   ├── googletrend.csv
│   ├── sample_submission.csv
│   ├── state_names.csv
│   ├── store.csv
│   ├── store_states.csv
│   ├── test.csv
│   ├── train.csv
│   └── weather.csv
├── rossmann.tgz
└── sample_data
    ├── anscombe.json
    ├── california_housing_test.csv
    ├── california_housing_train.csv
    ├── mnist_test.csv
    ├── mnist_train_small.csv
    └── README.md

2 directories, 15 files

In [0]:
!mv rossmann.tgz rossmann/

In [21]:
!tree

.
├── rossmann
│   ├── googletrend.csv
│   ├── rossmann.tgz
│   ├── sample_submission.csv
│   ├── state_names.csv
│   ├── store.csv
│   ├── store_states.csv
│   ├── test.csv
│   ├── train.csv
│   └── weather.csv
└── sample_data
    ├── anscombe.json
    ├── california_housing_test.csv
    ├── california_housing_train.csv
    ├── mnist_test.csv
    ├── mnist_train_small.csv
    └── README.md

2 directories, 15 files

In [0]:
!mkdir -p /root/.fastai/data/rossmann

In [25]:
Config.data_path()

PosixPath('/root/.fastai/data')

In [31]:
!tree /root/.fastai/

/root/.fastai/
├── config.yml
└── data
    └── rossmann

2 directories, 1 file

In [32]:
!cp -r rossmann/* /root/.fastai/data/rossmann/
!tree /root/.fastai/

/root/.fastai/
├── config.yml
└── data
    └── rossmann
        ├── googletrend.csv
        ├── rossmann.tgz
        ├── sample_submission.csv
        ├── state_names.csv
        ├── store.csv
        ├── store_states.csv
        ├── test.csv
        ├── train.csv
        └── weather.csv

2 directories, 10 files

### Data preparation

In [45]:
PATH = Config.data_path()/"rossmann"
PATH

PosixPath('/root/.fastai/data/rossmann')

In [46]:
csv_table_names = ["train", "test", "store", "store_states", "state_names", "weather", "googletrend"]
tables = [pd.read_csv(f"{PATH/fname}.csv", low_memory=False) for fname in csv_table_names]
train, test, store, store_states, state_names, weather, googletrend = tables
len(train), len(test)

(1017209, 41088)

```
Step-1: We turn state holidays to BOOLEANS to make them more convenient for modelling

NOTE: We can do calculations on Pandas fields using notations very similar to Numpy
```

In [47]:
train.head()

   Store  DayOfWeek        Date  Sales  ...  Open  Promo  StateHoliday SchoolHoliday
0      1          5  2015-07-31   5263  ...     1      1             0             1
1      2          5  2015-07-31   6064  ...     1      1             0             1
2      3          5  2015-07-31   8314  ...     1      1             0             1
3      4          5  2015-07-31  13995  ...     1      1             0             1
4      5          5  2015-07-31   4822  ...     1      1             0             1

[5 rows x 9 columns]

In [48]:
train["StateHoliday"][0]

'0'

In [0]:
### Converting the string to Booleans.
### RUN this cell ONLY once (if we run more than once then all values will become True)

train.StateHoliday = train.StateHoliday != "0"
test.StateHoliday  = test.StateHoliday != "0"

In [50]:
train["StateHoliday"][0]

False

In [51]:
test.head()

   Id  Store  DayOfWeek        Date  Open  Promo  StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1         False              0
1   2      3          4  2015-09-17   1.0      1         False              0
2   3      7          4  2015-09-17   1.0      1         False              0
3   4      8          4  2015-09-17   1.0      1         False              0
4   5      9          4  2015-09-17   1.0      1         False              0

In [52]:
train.head()

   Store  DayOfWeek        Date  ...  Promo  StateHoliday  SchoolHoliday
0      1          5  2015-07-31  ...      1         False              1
1      2          5  2015-07-31  ...      1         False              1
2      3          5  2015-07-31  ...      1         False              1
3      4          5  2015-07-31  ...      1         False              1
4      5          5  2015-07-31  ...      1         False              1

[5 rows x 9 columns]

```
1.  Define join_df(), a function joining tables on specific fields.

    By default we will be doing the left-outer-join of `right` on `left` arguments 
    using the given fields for each table.

2.  Leave the duplicate field names on the left to be untouched & append `_y` to those on the right.

    Pandas does joins using merge() method.
    The `suffixes` argument describes the naming conventions for duplicate fields.
```

In [0]:
def join_df(left, right, left_on, right_on=None, suffix="_y"):
    if right_on is None:
        right_on = left_on
    return left.merge(right, how="left", left_on=left_on, right_on=right_on, suffixes=("", suffix))

In [59]:
weather.head()

                 file        Date  ...  Events  WindDirDegrees
0  NordrheinWestfalen  2013-01-01  ...    Rain             215
1  NordrheinWestfalen  2013-01-02  ...    Rain             225
2  NordrheinWestfalen  2013-01-03  ...    Rain             240
3  NordrheinWestfalen  2013-01-04  ...    Rain             263
4  NordrheinWestfalen  2013-01-05  ...    Rain             268

[5 rows x 24 columns]

In [60]:

state_names.head()

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

In [63]:
### JOIN weather & state_names

weather = join_df(left=weather, right=state_names, left_on="file", right_on="StateName", suffix="_y")
weather.head()

                 file        Date  ...           StateName  State
0  NordrheinWestfalen  2013-01-01  ...  NordrheinWestfalen     NW
1  NordrheinWestfalen  2013-01-02  ...  NordrheinWestfalen     NW
2  NordrheinWestfalen  2013-01-03  ...  NordrheinWestfalen     NW
3  NordrheinWestfalen  2013-01-04  ...  NordrheinWestfalen     NW
4  NordrheinWestfalen  2013-01-05  ...  NordrheinWestfalen     NW

[5 rows x 26 columns]

In [62]:
weather.shape

(15840, 24)

In [64]:
weather.shape

(15840, 26)

In [65]:
state_names.head()

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB