<a href="https://colab.research.google.com/github/vinaykumar2491/Project_MachineLearning/blob/master/imflash217_fastai_6_rossman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [0]:
from fastai.basics import *

## Rossmann:
```
http://files.fast.ai/part2/lesson14/rossmann.tgz
```

### Data Preparation & Feature Engineering

In [5]:
!ls

sample_data

In [6]:
Config.data_path()

PosixPath('/root/.fastai/data')

In [8]:
!apt-get install tree

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  tree
0 upgraded, 1 newly installed, 0 to remove and 8 not upgraded.
Need to get 40.7 kB of archives.
After this operation, 105 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tree amd64 1.7.0-5 [40.7 kB]
Fetched 40.7 kB in 0s (784 kB/s)
Selecting previously unselected package tree.
(Reading database ... 131183 files and directories currently installed.)
Preparing to unpack .../tree_1.7.0-5_amd64.deb ...
Unpacking tree (1.7.0-5) ...
Setting up tree (1.7.0-5) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

In [9]:
!tree

.
└── sample_data
    ├── anscombe.json
    ├── california_housing_test.csv
    ├── california_housing_train.csv
    ├── mnist_test.csv
    ├── mnist_train_small.csv
    └── README.md

1 directory, 6 files

In [0]:
!mkdir rossmann

In [11]:
!tree

.
├── rossmann
└── sample_data
    ├── anscombe.json
    ├── california_housing_test.csv
    ├── california_housing_train.csv
    ├── mnist_test.csv
    ├── mnist_train_small.csv
    └── README.md

2 directories, 6 files

In [12]:
!wget http://files.fast.ai/part2/lesson14/rossmann.tgz ./rossmann/

--2019-10-15 17:58:18--  http://files.fast.ai/part2/lesson14/rossmann.tgz
Resolving files.fast.ai (files.fast.ai)... 67.205.15.147
Connecting to files.fast.ai (files.fast.ai)|67.205.15.147|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7730448 (7.4M) [application/x-gtar-compressed]
Saving to: ‘rossmann.tgz’

rossmann.tgz        100%[===================>]   7.37M  9.91MB/s    in 0.7s

2019-10-15 17:58:19 (9.91 MB/s) - ‘rossmann.tgz’ saved [7730448/7730448]

--2019-10-15 17:58:19--  http://./rossmann/
Resolving . (.)... failed: No address associated with hostname.
wget: unable to resolve host address ‘.’
FINISHED --2019-10-15 17:58:19--
Total wall clock time: 1.1s
Downloaded: 1 files, 7.4M in 0.7s (9.91 MB/s)

In [13]:
!tree

.
├── rossmann
├── rossmann.tgz
└── sample_data
    ├── anscombe.json
    ├── california_housing_test.csv
    ├── california_housing_train.csv
    ├── mnist_test.csv
    ├── mnist_train_small.csv
    └── README.md

2 directories, 7 files

In [0]:
!rm -r rossmann

In [15]:
!tree

.
├── rossmann.tgz
└── sample_data
    ├── anscombe.json
    ├── california_housing_test.csv
    ├── california_housing_train.csv
    ├── mnist_test.csv
    ├── mnist_train_small.csv
    └── README.md

1 directory, 7 files

In [16]:
!tar -xvzf rossmann.tgz

googletrend.csv
sample_submission.csv
state_names.csv
store.csv
store_states.csv
test.csv
train.csv
weather.csv

In [17]:
!tree

.
├── googletrend.csv
├── rossmann.tgz
├── sample_data
│   ├── anscombe.json
│   ├── california_housing_test.csv
│   ├── california_housing_train.csv
│   ├── mnist_test.csv
│   ├── mnist_train_small.csv
│   └── README.md
├── sample_submission.csv
├── state_names.csv
├── store.csv
├── store_states.csv
├── test.csv
├── train.csv
└── weather.csv

1 directory, 15 files

In [0]:
!mkdir rossmann

In [0]:
!mv *.csv rossmann/

In [20]:
!tree

.
├── rossmann
│   ├── googletrend.csv
│   ├── sample_submission.csv
│   ├── state_names.csv
│   ├── store.csv
│   ├── store_states.csv
│   ├── test.csv
│   ├── train.csv
│   └── weather.csv
├── rossmann.tgz
└── sample_data
    ├── anscombe.json
    ├── california_housing_test.csv
    ├── california_housing_train.csv
    ├── mnist_test.csv
    ├── mnist_train_small.csv
    └── README.md

2 directories, 15 files

In [0]:
!mv rossmann.tgz rossmann/

In [22]:
!tree

.
├── rossmann
│   ├── googletrend.csv
│   ├── rossmann.tgz
│   ├── sample_submission.csv
│   ├── state_names.csv
│   ├── store.csv
│   ├── store_states.csv
│   ├── test.csv
│   ├── train.csv
│   └── weather.csv
└── sample_data
    ├── anscombe.json
    ├── california_housing_test.csv
    ├── california_housing_train.csv
    ├── mnist_test.csv
    ├── mnist_train_small.csv
    └── README.md

2 directories, 15 files

In [0]:
!mkdir -p /root/.fastai/data/rossmann

In [24]:
Config.data_path()

PosixPath('/root/.fastai/data')

In [25]:
!tree /root/.fastai/

/root/.fastai/
├── config.yml
└── data
    └── rossmann

2 directories, 1 file

In [26]:
!cp -r rossmann/* /root/.fastai/data/rossmann/
!tree /root/.fastai/

/root/.fastai/
├── config.yml
└── data
    └── rossmann
        ├── googletrend.csv
        ├── rossmann.tgz
        ├── sample_submission.csv
        ├── state_names.csv
        ├── store.csv
        ├── store_states.csv
        ├── test.csv
        ├── train.csv
        └── weather.csv

2 directories, 10 files

### Data preparation

In [27]:
PATH = Config.data_path()/"rossmann"
PATH

PosixPath('/root/.fastai/data/rossmann')

In [28]:
csv_table_names = ["train", "test", "store", "store_states", "state_names", "weather", "googletrend"]
tables = [pd.read_csv(f"{PATH/fname}.csv", low_memory=False) for fname in csv_table_names]
train, test, store, store_states, state_names, weather, googletrend = tables
len(train), len(test)

(1017209, 41088)

```
Step-1: We turn state holidays to BOOLEANS to make them more convenient for modelling

NOTE: We can do calculations on Pandas fields using notations very similar to Numpy
```

In [29]:
train.head()

   Store  DayOfWeek        Date  Sales  ...  Open  Promo  StateHoliday SchoolHoliday
0      1          5  2015-07-31   5263  ...     1      1             0             1
1      2          5  2015-07-31   6064  ...     1      1             0             1
2      3          5  2015-07-31   8314  ...     1      1             0             1
3      4          5  2015-07-31  13995  ...     1      1             0             1
4      5          5  2015-07-31   4822  ...     1      1             0             1

[5 rows x 9 columns]

In [30]:
train["StateHoliday"][0]

'0'

In [0]:
### Converting the string to Booleans.
### RUN this cell ONLY once (if we run more than once then all values will become True)

train.StateHoliday = train.StateHoliday != "0"
test.StateHoliday  = test.StateHoliday != "0"

In [32]:
train["StateHoliday"][0]

False

In [33]:
test.head()

   Id  Store  DayOfWeek        Date  Open  Promo  StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1         False              0
1   2      3          4  2015-09-17   1.0      1         False              0
2   3      7          4  2015-09-17   1.0      1         False              0
3   4      8          4  2015-09-17   1.0      1         False              0
4   5      9          4  2015-09-17   1.0      1         False              0

In [34]:
train.head()

   Store  DayOfWeek        Date  ...  Promo  StateHoliday  SchoolHoliday
0      1          5  2015-07-31  ...      1         False              1
1      2          5  2015-07-31  ...      1         False              1
2      3          5  2015-07-31  ...      1         False              1
3      4          5  2015-07-31  ...      1         False              1
4      5          5  2015-07-31  ...      1         False              1

[5 rows x 9 columns]

```
1.  Define join_df(), a function joining tables on specific fields.

    By default we will be doing the left-outer-join of `right` on `left` arguments 
    using the given fields for each table.

2.  Leave the duplicate field names on the left to be untouched & append `_y` to those on the right.

    Pandas does joins using merge() method.
    The `suffixes` argument describes the naming conventions for duplicate fields.
```

In [0]:
def join_df(left, right, left_on, right_on=None, suffix="_y"):
    if right_on is None:
        right_on = left_on
    return left.merge(right, how="left", left_on=left_on, right_on=right_on, suffixes=("", suffix))

In [36]:
weather.head()

                 file        Date  ...  Events  WindDirDegrees
0  NordrheinWestfalen  2013-01-01  ...    Rain             215
1  NordrheinWestfalen  2013-01-02  ...    Rain             225
2  NordrheinWestfalen  2013-01-03  ...    Rain             240
3  NordrheinWestfalen  2013-01-04  ...    Rain             263
4  NordrheinWestfalen  2013-01-05  ...    Rain             268

[5 rows x 24 columns]

In [37]:

state_names.head()

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

In [38]:
### JOIN weather & state_names

weather = join_df(left=weather, right=state_names, left_on="file", right_on="StateName", suffix="_y")
weather.head()

                 file        Date  ...           StateName  State
0  NordrheinWestfalen  2013-01-01  ...  NordrheinWestfalen     NW
1  NordrheinWestfalen  2013-01-02  ...  NordrheinWestfalen     NW
2  NordrheinWestfalen  2013-01-03  ...  NordrheinWestfalen     NW
3  NordrheinWestfalen  2013-01-04  ...  NordrheinWestfalen     NW
4  NordrheinWestfalen  2013-01-05  ...  NordrheinWestfalen     NW

[5 rows x 26 columns]

In [39]:
weather.shape

(15840, 26)

In [40]:
weather.shape

(15840, 26)

In [41]:
state_names.head()

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

```
In Pandas we can add a new column by simply defining it.

Step-3:  Extracting dates & state_names for "googletrend" table and adding corresponding new columns.
Step-4:  Replace all instances of state_name "NI" to match the usage of the rest of the data: "HB, NI".
```

In [42]:
googletrend.head()

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

In [0]:
googletrend["Date"]  = googletrend.week.str.split(pat=" - ", expand=True)[0]
googletrend["State"] = googletrend.file.str.split(pat="_", expand=True)[2]
googletrend.loc[googletrend.State=="NI", "State"] = "HB, NI"

In [44]:
googletrend.head()

             file                     week  trend        Date State
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96  2012-12-02    SN
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95  2012-12-09    SN
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91  2012-12-16    SN
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48  2012-12-23    SN
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67  2012-12-30    SN

In [0]:
def add_datepart(df, fldname, drop=True, time=False):
    """
    Helper function that adds columns relevant to date
    """

    fld = df[fldname]
    fld_dtype = fld.dtype

    ### Checking the dtype of the field. Almost al integer types in numpy are subclasses of np.datetime64
    ### Even, DattimeTZDtype is also a near subclass of np.datetiem64
    if isinstance(fld_dtype, pd.core.dtypes.dtypes.DatetimeTZDtype):
        fld_dtype = np.datetime64

    ### Sanity check for other formats and dtypes used
    if not np.issubdtype(fld_dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True)
    
    targ_pre = re.sub("[Dd]ate$", "", fldname)

    ### attributes to be derived from the date attribute
    attr = ["Year", "Month", "Week", "Day", "Dayofweek", "Dayofyear", "Is_month_end", "Is_month_start",
            "Is_quarter_end", "Is_quarter_start", "Is_year_end", "Is_year_start"]
    
    ### adding more attributes to be derived if time is also provided
    if time:
        attr += ["Hour", "Minute", "Second"]
    
    ### Extracting the attribute values
    for n in attr:
        df[targ_pre + n] = getattr(fld.dt, n.lower())

    df[targ_pre + "Elapsed"] = fld.astype(np.int64) // (10**9)
    if drop:
        df.drop(fldname, axis=1, inplace=True)

In [0]:
pd.core.dtypes.dtypes.DatetimeTZDtype??

In [48]:
weather.columns

Index(['file', 'Date', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC',
       'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Sea_Level_PressurehPa', 'Mean_Sea_Level_PressurehPa',
       'Min_Sea_Level_PressurehPa', 'Max_VisibilityKm', 'Mean_VisibilityKm',
       'Min_VisibilitykM', 'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h',
       'Max_Gust_SpeedKm_h', 'Precipitationmm', 'CloudCover', 'Events',
       'WindDirDegrees', 'StateName', 'State'],
      dtype='object')

In [49]:
train.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday'],
      dtype='object')

In [50]:
test.columns

Index(['Id', 'Store', 'DayOfWeek', 'Date', 'Open', 'Promo', 'StateHoliday',
       'SchoolHoliday'],
      dtype='object')

In [51]:
googletrend.columns

Index(['file', 'week', 'trend', 'Date', 'State'], dtype='object')

In [55]:
len(tables)

7

In [56]:
"Date" in googletrend.columns

True

In [60]:
googletrend.head()

             file                     week  trend        Date State
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96  2012-12-02    SN
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95  2012-12-09    SN
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91  2012-12-16    SN
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48  2012-12-23    SN
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67  2012-12-30    SN

In [70]:
### checking date-time for each table and extracting features from those
for p in tables:
    print(f"{'Date' in p.columns}")
    if "Date" in p.columns:
        add_datepart(p, "Date", drop=False)

True
True
False
False
False
True
True

In [71]:
train.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'Dayofweek', 'Dayofyear', 'Is_month_end', 'Is_month_start',
       'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start',
       'Elapsed'],
      dtype='object')

In [73]:
googletrend.tail()

                file                     week  ...  Is_year_start     Elapsed
2067  Rossmann_DE_SL  2015-08-30 - 2015-09-05  ...          False  1440892800
2068  Rossmann_DE_SL  2015-09-06 - 2015-09-12  ...          False  1441497600
2069  Rossmann_DE_SL  2015-09-13 - 2015-09-19  ...          False  1442102400
2070  Rossmann_DE_SL  2015-09-20 - 2015-09-26  ...          False  1442707200
2071  Rossmann_DE_SL  2015-09-27 - 2015-10-03  ...          False  1443312000

[5 rows x 18 columns]

In [74]:
### googletrend data has trend for whole of germany.
### we will put that out so we can use it specifically
### DE: represents Germany
trend_de = googletrend[googletrend.file == "Rossman_DE"]
trend_de.shape

(0, 18)

In [75]:
trend_de

Empty DataFrame
Columns: [file, week, trend, Date, State, Year, Month, Week, Day, Dayofweek, Dayofyear, Is_month_end, Is_month_start, Is_quarter_end, Is_quarter_start, Is_year_end, Is_year_start, Elapsed]
Index: []

```
Now we can outer-join all out data into a single dataframe.

NOTE: In outer joins, everytime a value in the joining field on the left table doesnot have a corresponding value on the right table; the corresponding joined table have NULL values for all right fields.

One way to check that all records are consistent and complete are to check for NULL values post-join.
```

In [76]:
store = join_df(left=store, right=store_states, left_on="Store", right_on=None, suffix="_y")

### checking for NULL values
### here we are checkingg only for "State" attribute because that's the only attribute that's not present in store dataframe
len(store[store.State.isnull()])

0

In [78]:
store_states.head()

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

In [86]:
for p in store.columns:
    if p not in train.columns:
        print(p)

StoreType
Assortment
CompetitionDistance
CompetitionOpenSinceMonth
CompetitionOpenSinceYear
Promo2
Promo2SinceWeek
Promo2SinceYear
PromoInterval
State

In [87]:
### repeating the process for other datframes
joined = join_df(train, store, "Store")
joined_test = join_df(test, store, "Store")
len(joined[joined.State.isnull()]), len(joined_test[joined_test.State.isnull()])

(0, 0)

   Store  DayOfWeek       Date  ...  Promo2SinceYear    PromoInterval  State
0      1          5 2015-07-31  ...              NaN              NaN     HE
1      2          5 2015-07-31  ...           2010.0  Jan,Apr,Jul,Oct     TH
2      3          5 2015-07-31  ...           2011.0  Jan,Apr,Jul,Oct     NW
3      4          5 2015-07-31  ...              NaN              NaN     BE
4      5          5 2015-07-31  ...              NaN              NaN     SN

[5 rows x 32 columns]

In [93]:
for p in googletrend.columns:
    if p not in joined.columns:
        print(p)

file
week
trend

In [94]:
### repeating the process for other datframes
joined = join_df(joined, googletrend, ["State", "Year", "Week"])
joined_test = join_df(joined_test, googletrend, ["State", "Year", "Week"])
len(joined[joined.trend.isnull()]), len(joined_test[joined_test.trend.isnull()])

(20724, 1056)

```
Step:  Fill missing values to avoid complications with NA.
       Here we are using an arbitrary signal_value that otherwise donot appear in our data
```

In [0]:
for df in (joined, joined_test):
    df["CompetitionOpenSinceYear"] = df.CompetitionOpenSinceYear.fillna(1900).astype(np.int64)
    df["CompetitionOpenSinceMonth"] = df.CompetitionOpenSinceMonth.fillna(1).astype(np.int64)
    df["Promo2SinceYear"] = df.Promo2SinceYear.fillna(1900).astype(np.int64)
    df["Promo2SinceWeek"] = df.Promo2SinceWeek.fillna(1).astype(np.int64)

```
Step:  Extract features ("CompetionOpenSince" & "CompetitionDaysOpen").
        Note the use of apply() in mapping a function across dataframe values
```

In [0]:
for df in (joined, joined_test):
    df["CompetitionOpenSince"] = pd.to_datetime(dict(year=df.CompetitionOpenSinceYear,
                                                     month=df.CompetitionOpenSinceMonth, day=15))
    df["CompetitionDaysOpen"] = df.Date.subtract(df.CompetitionOpenSince).dt.days

```
Step:  Removing erroneous or outlying data
```

In [0]:
for df in (joined, joined_test):
    df.loc[df.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
    df.loc[df.CompetitionOpenSinceYear<1900, "CompetitionDaysOpen"] = 0